#encabezado {
    background-color: rgb(53, 163, 194); /* Change this to any color you want */
}

#logo{
    display: flex;
    align-items: center;
}

.card{
    display: none;
    width: 250px;
    flex: 1;
}
.container{
    display: flex;
    justify-content: space-between;
}
#tabla{
    flex: 1;
}

